body {
  background-color: #f3f0ec;
  font-family: "Raleway", sans-serif;
  color: #2e2e2e;
  font-size: 1rem;
  border: 1px solid #cd8e67;
  border-radius: 5px;
}

h1 {
  font-family: "Major Mono Display", monospace;
  text-align: center;
}

h2 {
  font-family: "Megrim", monospace;
  text-align: center;
  border-bottom: 1px solid #cd8e67;
  padding-bottom: 10px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  margin: auto;
}

@media all and (min-width: 750px) {
  section {
    max-width: 600px;
  }
}

@media all and (min-width: 1025px) {
  section {
    max-width: 750px;
  }
  #xp {
    max-width: 1200px;
  }
}

header {
  background-image: url("../images/pink-bg.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  max-width: 600px;
  margin: auto;
}

header h1 {
  font-size: 1.6rem;
}

header #menu-desktop {
  display: none;
}

@media all and (min-width: 750px) {
  header {
    background-position: bottom;
  }
  header h1 {
    font-size: 2.5rem;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media all and (min-width: 1025px) {
  header {
    max-width: 1000px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .menu-toggle {
    display: none;
  }
  header #menu-desktop {
    display: block;
    background: #fff;
    border-radius: 5px;
    padding: 25px;
    font-family: "Major Mono Display", monospace;
  }
  header #menu-desktop ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding: 0;
    margin: 0;
  }
  header #menu-desktop ul li {
    -ms-flex-preferred-size: 16%;
        flex-basis: 16%;
    text-align: center;
    place-self: center;
  }
  header #menu-desktop ul li a {
    color: #888;
    text-decoration: none;
    font-size: .8rem;
    -webkit-transition: all .2s;
    transition: all .2s;
    border-radius: 5px;
    padding: 15px;
  }
  header #menu-desktop ul li a:hover, header #menu-desktop ul li a:focus, header #menu-desktop ul li a:active {
    color: #fff;
    background: #cd8e67;
  }
}

.who_img {
  max-width: 180px;
  border: white 7px solid;
  border-radius: 50%;
  -webkit-box-shadow: 0px 2px 15px 0px #a8a6a2;
          box-shadow: 0px 2px 15px 0px #a8a6a2;
}

.who_content {
  text-align: justify;
  padding: 5px;
}

.studies {
  max-width: 800px;
}

.studies_item {
  border-left: 1px solid #cd8e67;
  margin: 15px;
  padding-left: 10px;
  width: 80%;
}

.studies_item h3, .studies_item p {
  margin: 5px 0;
}

.studies_item--subtitle {
  font-weight: 500;
}

.studies_item--year {
  font-weight: 100;
}

@media all and (min-width: 1025px) {
  .studies_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.xp-wrapper .xp {
  margin-bottom: 70px;
}

.xp-wrapper .xp_item {
  background-color: white;
  border-radius: 5px;
  padding: 15px;
  margin: 15px 0;
}

.xp-wrapper .xp_item h3,
.xp-wrapper .xp_item h4,
.xp-wrapper .xp_item p {
  margin: 5px 0;
}

.xp-wrapper .xp_item--year {
  font-weight: 100;
}

.xp-wrapper .xp_item--details li {
  margin: 20px 0;
  text-align: justify;
}

@media all and (min-width: 1025px) {
  .xp-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .xp-wrapper .xp {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin: 30px 0;
    padding: 0px 50px;
  }
  .xp-wrapper .xp:first-child {
    border-right: 1px solid #cd8e67;
  }
  .xp-wrapper .xp_details {
    margin: 50px auto;
  }
}

#tech-skl ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 25px auto;
}

#tech-skl ul li {
  list-style: none;
  padding: 5px;
}

@media all and (min-width: 750px) {
  #soft-skl ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  #soft-skl ul li {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media all and (min-width: 1025px) {
  .skill-wrapper {
    max-width: 1200px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .skill-wrapper #soft-skl {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .skill-wrapper #tech-skl {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin: 0;
  }
}

#contact {
  margin: 50px auto;
  max-width: 1200px;
}

#contact ul {
  padding: 0;
}

#contact ul li {
  padding: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact ul li a {
  text-decoration: none;
  color: #2e2e2e;
  -webkit-transition: ease-in-out 200ms;
  transition: ease-in-out 200ms;
}

#contact ul li a:hover {
  color: #cd8e67;
}

@media all and (min-width: 750px) {
  #contact ul {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    width: 80%;
  }
  #contact ul li {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media all and (min-width: 1025px) {
  #contact ul {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #contact ul li {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#toggle {
  display: block;
  width: 28px;
  height: 30px;
  margin: 30px auto 10px;
  margin-right: 0;
}

#toggle span:after,
#toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}

#toggle span:after {
  top: 9px;
}

#toggle span {
  position: relative;
  display: block;
}

#toggle span,
#toggle span:after,
#toggle span:before {
  width: 100%;
  height: 5px;
  background-color: #888;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 2px;
}

/* on activation */
#toggle.on span {
  background-color: transparent;
}

#toggle.on span:before {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
}

#toggle.on span:after {
  -webkit-transform: rotate(-45deg) translate(7px, -8px);
          transform: rotate(-45deg) translate(7px, -8px);
}

#toggle.on + #menu {
  opacity: 1;
  visibility: visible;
}

/* menu appearance*/
#menu {
  position: relative;
  color: #999;
  width: 140px;
  padding: 10px;
  margin: auto;
  font-family: "Major Mono Display", monospace;
  text-align: center;
  border-radius: 4px;
  background: white;
  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .4s;
  transition: opacity .4s;
}

#menu ul,
#menu li,
#menu li a {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}

#menu li a {
  padding: 5px;
  color: #888;
  text-decoration: none;
  -webkit-transition: all .2s;
  transition: all .2s;
  border-radius: 5px;
  font-size: .8rem;
}

#menu li a:hover,
#menu li a:focus {
  background: #daae93;
  color: #fff;
}

#menu:after {
  position: absolute;
  top: -15px;
  left: 120px;
  content: "";
  display: block;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid white;
}

@media all and (min-width: 750px) {
  #menu {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  #menu:after {
    left: 245px;
  }
}

.list {
  width: 80%;
  list-style: circle;
  padding: 0;
  margin: 25px auto;
}

.list li {
  padding: 5px 0;
}

.list-in {
  list-style: none;
  width: 80%;
  padding: 0;
  margin: auto;
}

.list-in li {
  border-left: 1px solid #cd8e67;
  padding: 5px 15px;
}

.logo {
  width: 45px;
}

.logo-mini {
  width: 35px;
}

.logo-xs {
  width: 20px;
  padding: 10px;
}

i {
  margin: 5px;
  color: #cd8e67;
}

main {
  -webkit-animation: slide-top 2000ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 800ms both;
          animation: slide-top 2000ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 800ms both;
}

@keyframes slide-top {
  from {
    opacity: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@-webkit-keyframes slide-top {
  /* sur Safari et Chrome */
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*# sourceMappingURL=style.css.map */