.hobbies {
    &_wrapper {
        margin: 20px;
        &--item {
            border-radius: 15px;
            border: 5px solid #fff;
            box-shadow: 0 1px 10px #9e9e9e;
            margin: 25px;
            width: 250px;
            height: 180px;
            background-position: center;
            background-size: cover;
        }

        .scotland {
            background-image: url("../images/scotland.jpg");
        }

        .pop-culture {
            background-image: url("../images/pop-culture.jpg");
        }

        .dog {
            background-image: url("../images/dog.jpg");
        }
    }

    &_content {
        margin: 10px 5px;
    }
}

@media all and (min-width: 750px) {
    .hobbies_wrapper {
        display: flex;
        flex-basis: 100%;
        width: 100%;

        &--item {
            margin: 5px;
        }
    }
}

@media all and (min-width: 1025px) {
    .hobbies_wrapper {
        justify-content: space-between;
    }
    .hobbies_content {
        margin: 10px 0;
        width: 50%;
    }
}