.studies {
    max-width: 1000px;

    &_item {
        border-left: 1px solid $color-corporate;
        margin: 15px;
        padding-left: 10px;
        width: 80%;

        h3, p {
            margin: 5px 0;
        }

        &--subtitle {
            font-weight: 500;
        }

        &--year {
            font-weight: 100;
        }
    }
}

@media all and (min-width: 1025px) {
    .studies_wrapper {
        display: flex;
    }
}