body {
    background-color: $color-bg-body;
    font-family: "Raleway", sans-serif;
    color: $color-text;
    font-size: 1rem;
    border: 1px solid $color-corporate;
    border-radius: 5px;
}

h1 {
    font-family: "Major Mono Display", monospace;
    text-align: center;
}

h2 {
    font-family: "Megrim", monospace;
    text-align: center;
    border-bottom: 1px solid $color-corporate;
    padding-bottom: 10px;
    width: min-content;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    margin: auto;
}

@media all and (min-width: 750px) {
    section {
        max-width: 600px;
    }

}

@media all and (min-width: 1025px) {
    section {
        max-width: 750px;
    }

    #xp {
        max-width: 1200px;
    }
    
}

